:root {
  color-scheme: light dark;
}

body {
  width: 375px;
  height: 100vh;
}

.d-none,
.d-hide {
  display: none !important;
}

.d-collapse {
  height: 0 !important;
  overflow: hidden !important;
}

.d-visible {
  visibility: visible;
}

.d-invisible {
  visibility: hidden;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

#settings-button {
  --n-button-background-color: transparent;
}
